<!DOCTYPE html>
<html ng-app="flattr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Podcast Flattrer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ng-cloak>
        <navbar></navbar>
        <div ng-view class="content container"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.6.9/angular-cookies.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/components/navbar.js"></script>
        <script src="/js/components/home-page.js"></script>
        <script src="/js/components/search-page.js"></script>
        <script src="/js/components/flattred-page.js"></script>
        <script src="/js/services/auth.js"></script>
    </body>
</html>
