@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background: #e5e5e5;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #000;
}

a:focus, a:hover {
    color: #449d44;
    text-decoration: none;
}

h2, h3, h4 {
    line-height: 1.2;
}

.jumbotron {
    background-color: rgba(255, 255, 255, .8);
}

.btn {
    border-radius: 22px;
    padding: 10px 30px;
}

@media (min-width: 768px) {
    .btn {
        padding: 10px 100px;
    }
}

.btn:active:focus,
.btn:focus {
    outline: 0;
}

.btn-sm {
    border-radius: 14px;
    padding: 2px 2px;
}

.btn-outline,
.btn-outline:focus {
    background-color: #fff;
    border-color: #5cb85c;
    border-width: 2px;
    color: #5cb85c;
}

.btn-outline:hover,
.btn-outline:focus:hover {
    border-color: #449d44;
    background-color: #449d44;
    color: #fff;
}

.navbar {
    min-height: 80px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e5e5e5;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-brand {
    height: 80px;
    padding: 30px 15px;
    font-size: 20px;
    margin-left: 10px;
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 30px;
        margin-left: 0;
    }
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #449d44 !important;
}

.navbar-toggle {
    margin-top: 22px;
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-form {
    border-top: none;
    border-bottom: none;
    margin-bottom: -10px;
}

@media (min-width: 992px) {
    .navbar-form {
        margin-top: 20px;
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .navbar-form {
        width: 50%;
    }
}

.search-box {
    font-size: 16px;
    height: 40px;
    border-color: #999;
    border-radius: 0;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
        margin-top: 10px;
    }
}

.navbar-right > li:first-child {
    float: left;
}

.navbar-right > li:last-child {
    float: right;
}

.navbar-right > li > a {
    font-size: 18px;
    margin-top: 8px;
}

@media (min-width: 768px) {
    .navbar-right > li > a {
        margin-top: 10px;
        padding: 10px 25px;
    }
}

.navbar-right > li > a:hover,
.navbar-right > li > a:focus {
    color: #449d44 !important;
}

.navbar-right > li > .navbar-btn {
    margin-right: 15px;
}

@media (min-width: 768px) {
    .navbar-right > li > .navbar-btn {
        margin: 8px 0 0;
        padding: 10px 30px;
    }
}

@media (min-width: 1200px) {
    .navbar-right > li > .navbar-btn {
        padding: 10px 50px;
    }
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.content {
    margin-top: 100px;
}

.home-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    height: 100%;
}

@media (min-width: 768px) {
    .home-video {
        height: auto;
        width: 100%;
    }
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.podcast {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
}

.podcast-img {
    padding: 0;
}

.podcast-text {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .podcast-text {
        padding-top: 5px;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .podcast-text {
        padding: 25px 0 0 25px;
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert {
    max-width: 300px;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    background: #333;
    padding: 20px;
}
